.footer__wrapper {
    display: flex;
    justify-content: center;
}

.footer__arrow {
    margin: 10px 10px;
    cursor: pointer;
}

.footer__arrow:hover {
    border-radius: 5px;
    background-color: rgb(86, 86, 86);
}

.footer__number {
    font-size: 24px;
    font-weight: 800;
    margin: 3px 10px;
    padding: 5px;
    cursor: pointer;
}

.footer__number__active {
    color: rgb(172, 148, 148);
    font-size: 26px;
    font-weight: 900;
    margin: 1px 10px;
    padding: 5px;
    cursor: pointer;
}

.footer__number:hover {
    border-radius: 5px;
    background-color: rgb(86, 86, 86);
}
