.image__popup__wrapper {
    position: fixed;
    z-index: 2;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(115, 115, 115, 0.5);
}

.image__popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    border: 1px solid #000000;

    width: 80%;
    height: 90%;
    padding: 20px;
}

.image__popup__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
