.main__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("src/assets/images/office.jpg");
    background-size: cover;
    background-position: 100% 15%;
    margin-bottom: 15px;
    height: 280px;
}

.content__wrapper p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__wrapper__desc__top {
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: -25px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.content__wrapper__desc__bottom {
    color: #ffffff;
    font-size: 32px;
    font-weight: 900;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
