.nav__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 10px 0;

    @media screen and (max-width: 1530px) {
        height: 80px;
        margin-bottom: 50px;
    }
}

.nav__menu {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.nav__menu__active {
    margin-top: 10px;
    font-size: 19px;
    font-weight: 700;
    color: #7b84fb;
}
