.cart__popup__wrapper {
    position: fixed;
    z-index: 1;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background-color: rgba(115, 115, 115, 0.5);
}

.cart__popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    border: 1px solid #000000;

    width: 60%;
    height: 70%;
    padding: 20px;
}

.cart__popup__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 2px solid #5a5a5a;
    margin-bottom: 30px;
}

.cart__popup__title span {
    font-size: 22px;
    font-weight: 600;
}

.popup__title__close {
    cursor: pointer;
}

.cart__popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.cart_popup_noItem {
    font-size: 26px;
    font-weight: 700;
    margin-top: 100px;
}
