.popup__wrapper {
    position: fixed;
    z-index: 1;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background-color: rgba(115, 115, 115, 0.5);
}

.popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    border: 1px solid #000000;

    width: 40%;
    height: 50%;
    padding: 20px;
}

.popup__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 2px solid #5a5a5a;
    margin-bottom: 30px;
}

.popup__title__close {
    cursor: pointer;
}

.popup__img {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    height: 310px;
}

.popup__img__content {
    width: 300px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.popup__img__content__hidden {
    display: none;
}

.popup__img__arrow {
    cursor: pointer;
}

.popup__detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.popup__desc {
    border-top: 2px solid #5a5a5a;
    padding-top: 10px;
}

.popup__price {
    font-size: 24px;
    font-weight: 800;
    padding-top: 30px;
}

.popup__price span:first-child {
    font-weight: 400;
}

.popup__rating {
    font-size: 24px;
    font-weight: 800;
    padding-top: 10px;
}

.popup__rating span:first-child {
    font-weight: 400;
}

.popup__count {
    font-size: 24px;
    font-weight: 800;
    padding-top: 20px;
}

.popup__count span {
    padding: 0 10px;
}

.popup__count span img {
    cursor: pointer;
}
