.cart__item__wrapper {
    display: flex;
    width: 90%;
    height: 220px;
    border-radius: 5px;
    border: 2px solid #5a5a5a;
    margin-bottom: 5px;
}

.cart__item__image img {
    width: 220px;
    height: 220px;
    object-fit: contain;
}

.cart__item__content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.cart__item__content__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.cart__item__title {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 10px;
}

.cart__item__price {
    font-size: 20px;
    margin-bottom: 5px;
}

.cart__item__content__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.cart__item__count {
    font-size: 24px;
    font-weight: 800;
}

.cart__item__count span img {
    padding: 0 10px;
    cursor: pointer;
}

.cart__item__remove {
    margin-top: 15px;
}
