.suggest__wrapper {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 3;
    width: 350px;
    height: 200px;
    background-color: #ffffff;
}

.suggest__wrapper__category {
    font-size: 20px;
    color: #000000;
    list-style-type: none;
    padding: 10px 0 0 10px;
    cursor: pointer;
}
